<div class="mt-4">
  <div>
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <h3>Khóa học đã xóa</h3>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col">Hành động</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="" data-id="{{this._id}}" class="btn btn-link btn-restore">Khôi phục</a>
          <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-course-modal">Xóa vĩnh viễn</a>
        </td>
      </tr>
      {{else}}

        <tr class="text-center">
          <th colspan="5" class="text-center">
            Bạn không còn khóa học nào trong thùng rác.
            <br>
            <a class="btn btn-sm btn-outline-primary mt-2" href="/me/stored/courses">Quay lại danh sách khóa học</a>
          </th>
          
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- confirm delete notification  --}}


<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Hành động này không thể khôi phục</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn xóa dữ liệu này???</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course-modal" type="button" class="btn btn-danger" data-bs-dismiss="modal">Xóa bỏ</button>
        <button  type="button" class="btn btn-primary">Hủy</button>
      </div>
    </div>
  </div>
</div>
{{!-- form handle delete --}}
<form name="delete-form" method="POST"  class="mt-4"></form>
{{!-- action="/courses/{{this._id}}/delete?_method=DELETE": add action using js when delete --}}
{{!-- form handle rstore --}}
<form method="post" class="mt-4" name="restore-form"></form>
<script>



  document.addEventListener("DOMContentLoaded", function() {
    var courseId;
    
    var deleteForm = document.forms['delete-form']
    const deleteModal = document.getElementById('delete-course-modal')
    const btnDeleteCourse = document.getElementById("btn-delete-course-modal")
    // restored
    var restoreBtn = $('.btn-restore');
  
    const restoreForm = document.forms["restore-form"]


    if (deleteModal) {
      // when delete modal click
      deleteModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        courseId = button.getAttribute('data-id')

        

      
        
      })
    }

    // restore button click
    restoreBtn.click(function(event) {
      event.preventDefault();
      var courseId = $(this).data("id")

      restoreForm.action = "/courses/" + courseId + "/restore?_method=PATCH"

      restoreForm.submit();
    })
    // when confirm click
    btnDeleteCourse.onclick = function() {
      deleteForm.action = "/courses/" + courseId + "/force?_method=DELETE"

      deleteForm.submit();
  
    }


    
    })

    
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>